.android .orientation-vertical {
    margin-top: 3%;
    visibility: visible
}

.ios .orientation-vertical {
    margin-top: 10%;
    visibility: visible
}

.orientation-horizontal {
    visibility: hidden;
    margin-top: 3%
}

Button {
    margin-bottom: 3%;
    font-size: 20%
}

Image {
    margin-bottom: 3%;
    width: 80%;
    height: auto
}

.landscape :host .orientation-vertical {
    visibility: hidden
}

.landscape :host .orientation-horizontal {
    visibility: visible;
    margin-left: 10%;
    margin-right: 10%
}

.landscape :host Image {
    height: 80%;
    width: auto;
    margin-right: 10%
}

.landscape :host Button {
    width: 100%;
    margin-bottom: 8%
}