<ActivityIndicator [busy]="true" class="activity-indicator loading-indicator" *ngIf="isLoading"></ActivityIndicator>
<Label class="font-weight-bold m-x-auto no-result-label" text="No Saved Data" 
    *ngIf="(!records || records.length ==0) && !isLoading && !dialogShowing"></Label>
<ListView [items]="records" *ngIf="records && records.length>0" separatorColor="transparent" class="list-group events-list">
        <ng-template let-item="item">
            <StackLayout orientation="vertical" class="list-group-item" style="padding-bottom: 0%;">
                <Label [text]="item.checkDate + ' - ' + item.checkTime" class="list-group-item-heading font-weight-bold"></Label>   
                <TextView *ngFor="let mus of item.musEvents" [editable]="false" [text]="mus.date + ' — ' + mus.name" 
                    class="list-group-item-text" style="font-size: 15%; padding-bottom: 0%; padding-top: 0%" 
                    android:style="border-bottom-width:1; border-bottom-color:white"></TextView>  
            </StackLayout>
        </ng-template>
</ListView>
